
body {
    margin: 0;
    padding: 0;
}

.AddresseeOpen, .PostOpen{
    color: #007bff;
    background-color: #007bff21;
    font-weight: 600;
}

.AddresseeClose, .PostClose {
    color: rgb(38, 38, 38);
    font-weight: 300;
}

/* Style for the noscript message */
noscript {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #FF0000;
}


/* Style for the main content area */
main {
    background-color: #FFF;
    display: flex;
    max-height: 82vh;
}

/* Style for the header */
header {
    background-color: #007BFF;
    color: #FFF;
    font-size: 45px;
    padding: 20px 40px 20px 40px;
    margin: 0 0 20px 0;
    text-align: center;
}


/* Style for the inbox panel */
.inbox-panel {
    border: 1px solid #ccc;
    margin: 0;
    padding: 11px;
    width: 300px;
    overflow: auto;
    overflow-y: auto;
    min-height: 27vh;
    min-width: 300px;
}

.inbox {
    margin-top: 10px;
}

.AddresseeClose, .AddresseeOpen {
    margin-bottom: 3px;
    padding: 3px 0 3px 10px;
    border-radius: 4px;
}

/* Style for the post details (open) */
.PostOpen {
    background-color: #007bff36;
}

.AddresseeClose, .AddresseeOpen, .Logout, .PostClose, .PostOpen {
    cursor: pointer;
}

.AddresseeClose:hover, .PostClose:hover {
    background-color: #007bff36;
    color: #007bff;
}

.Logout:hover {
    color: #007bff;
}

.PostClose, .PostOpen  {
    margin: 0 5px 5px 15px;
    padding: 2px 0 2px 10px;
    border-radius: 8px;
    overflow-wrap: anywhere;
}

/* Style for the post content section */
.post_content {
    background-color: #fff;
    flex: 3 1;
    overflow-wrap: anywhere;
    padding: 15px;
    scroll-padding: auto;
    overflow-y: revert;
    height: max-content;
    max-height: 67vh;
    overflow: auto;
    min-height: 50px;
}

.post_area {
    border: 1px solid #ccc;
}



.post_area:hover, .inbox-panel:hover {
    border: 1px solid #007bff;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inboxTitle {
    font-size: 40px;
    display: flex;
    position: relative;
    width: fit-content;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

.Logout {
    font-size: medium;
    width: fit-content;
    padding: 0;
    display: flex;
    height: fit-content;
    font-weight: 600;
}

.emptyDiv {
    position: absolute;
    width: 0;
    height: 0;
}

#root {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.body_mail{

}

.body_root{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 90vh;
    max-width: inherit;
}

/* Style for the root container */
.body_mail {
    /*height: max-content;*/
    max-width: fit-content;
    margin: 0 auto;


}

.root_content {
    padding: 20px;
    margin: 0 auto;
    width: 100vw;
}

.mailer_root {
    background-color: #FFF;
    border: 1px solid #CCC;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 0 auto;
}


/* Style for the authentication panel */
.authPanel {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    width: 88vw;
    height: 16vh;
}

/* Style for the label */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 40px;
}

/* Style for the input field */
.AuthKeyField {
    width: 180px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCC;
    border-radius: 4px;
}

/* Style for the submit button */
.SubmitAuthKeyButton {
    background-color: #007BFF;
    color: #FFF;
    border: none;
    padding: 10px 45px;
    cursor: pointer;
    border-radius: 4px;
}

.post_content_hidden {
    display: none;
}

.root_content {
    /*height: max-content;*/
}

.post_controls {
    padding: 15px 0 0 15px;
}

@font-face {
    font-family: 'vag world';
    src: url('./vag-world-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

.mailer_root {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    /* Здесь добавьте стили, специфичные для мобильных устройств */
    /* Например, измените размеры шрифтов, отступы и другие параметры, чтобы сделать контент более читаемым на мобильных экранах */
    
    /* Пример: уменьшаем размер шрифта для заголовка header */
    header {
        font-size: 30px;
    }

    /* Пример: увеличиваем отступы и уменьшаем ширину .inbox-panel */
    .inbox-panel {
        margin: 0;
        width: auto;
        padding: 15px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    main {
        flex-direction: column;
    }

    .post_content {
        max-height: none;
        margin: auto;
        width: auto;
        max-width: -webkit-fill-available;
        padding: 0;
        width: -webkit-fill-available;
    }
}

.root_page {
    background: rgb(23,35,89);
    background: linear-gradient(180deg, rgba(23,35,89,1) 0%, rgba(145,33,58,1) 100%);
}

.root_selected_link {
    display: flex;
    justify-content: space-around;
    font-weight: 600;
    font-size: xxx-large;
    font-family: "vag world";
    color: #fff;
    margin-top: 20px;
    height: 40px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.root_header {
    display: flex;
    flex-direction: row-reverse;



}

.alias_text {
    color: #fff;
    font-family: "vag world";
    font-size: x-large;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    display: flex;
    height: 10vh;
    width: max-content;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.root_header_content {
    display: flex;
    height: 10vh;
    color: #fff;
    font-family: "vag world";
    font-size: xx-large;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    align-items: flex-end;
    margin-right: 100px;

}

.root_header_content div {
    margin-left: 50px;
    cursor: pointer;
}

.services_panel, .extra_panel, .aliases_panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aliases_panel {
    flex-wrap: wrap;
}

.service_icon {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
    padding: 0;
}

.service_icon img {
    width: 100px;
}

.service_icon:hover {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    margin: 0 40px 0 40px;
}

.root_content {
    z-index: 200;
}

.background_particle {
    position: absolute;
    border-radius: 50%;
    z-index: 100;
  }
 
  @for $i from 1 through 90 {
    .background_particle:nth-child(#{$i}){
        animation: particle-animation-#{$i} 8s infinite ;
        opacity: 0;
        $size: random(3) + 1;
       
        height: $size + px;
        width: $size + px;
        animation-delay: -$i * .2s;
        transform: translate3d(0, random(90) * 1vh, 0);
        background-color: #fff;
        
      }

    @keyframes particle-animation-#{$i} {
        0% {

            opacity: 0;
        }

        45% {
            opacity: random(100)/100;
            height: 5 + px;
            width:  5 + px;
            background: hsl(310 +random(40), 50, 50)
            
        }
      100% {
        transform: translate3d(99vw, (random(90) * 1vh), (random(90) * 1px));
        opacity: 0;
        height: 1px;
        width: 1px;
        background-color: #fff;
      }
    }
    
    
}